body {
    font-family: Arial, sans-serif;
}

.container {
    border: 2px solid rgb(243, 39, 97);
    padding: 10px;
    display: grid;
}

.item {
    border: 1px solid rgb(78, 190, 225);
    padding: 20px;
    margin: 5px;
    background-color: lightblue;
}